

@font-face {
  font-family: 'Thin'; /* Name your font */
  src: url('thin.otf') format('opentype'); /* Specify the font path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Light'; /* Name your font */
  src: url('light.otf') format('opentype'); /* Specify the font path and format */
  font-weight: normal;
  font-style: normal;
}

/* Use the custom font in your body or specific elements */
body {
  font-family: 'Thin', monospace;
  margin: 0px;
}

h1{
  font-size: 2.7em;
  text-align: center;
  color: white;
  background-color: #151515;
  width: 100%;
  margin: 0px;
  line-height: 40px;
  padding: 10px;
}

button{
  font-family: 'Light', monospace;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
}

.dot-White {
  height: 14px;
  width: 14px;
  background-color: #151515;
  border-radius: 50%;
  border: 1px solid #151515;
  display: inline-block;
}

.htwo-White{
  background-color: white;
  border: 0px solid #151515;
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 10px;
  font-family: 'Thin', monospace;
}

.htwo-White:hover{
  background-color: #151515;
  border: 0px solid #151515;
  width: auto;
  margin: 10px;
  font-family: 'Thin', monospace;
  color: white;
}

h3{
  margin-top: 8px;
}

.htwo-Black{
  background-color: #151515;
  border: 0px solid White;
  color: white;
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 10px;
  font-family: 'Thin', monospace;
}

.htwo-Black:hover{
  background-color: white;
  border: 0px solid White;
  color: white;
  width: auto;
  margin: 10px;
  font-family: 'Thin', monospace;
  color: #151515;
}

.contentSec{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

.contentCard-Black{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  background-color: #151515;
  color: white;
}

.contentPB-Black{
  width: 40px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.contentCard-White{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  background-color: White;
  color: #151515;
}

.contentPB-White{
  width: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #151515;
  color: white;
}

.contentTitle{
  width:60%;
}
.contentHeader{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.contentOpen{
  font-size: 2em;
  margin: 10px;
}
.contentOpen-P {
  margin: 0px;
}

.contentLeft-Black{
  border: 0px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.contentLeft-Black:hover{
  border: 0px;
  background-color:   #151515;
}

.contentLeft-White{
  border: 0px;
  background-color: #151515;
  width: 100%;
  height: 100%;
}

.contentLeft-White:hover{
  border: 0px;
  background-color: white;
}

.contentBtn-Black{
  font-size: 0.7em;
  margin: 3px;

  background-color: #151515;
  border: 2px solid white;
  color: white;
}

.contentBtn-Open-B{
  font-size: 0.7em;
  margin: 3px;
  background-color: #151515;
  border: 2px solid white;
  color: white;
}
.contentBtn-Open-B:hover{
  font-size: 0.7em;
  margin: 3px;
  background-color: white;
  border: 2px solid white;
  color: #151515;
}

.contentBtn-Open-W{
  font-size: 0.7em;
  margin: 3px;
  background-color: white;
  border: 2px solid #151515;
  color: #151515;
}
.contentBtn-Open-W:hover{
  font-size: 0.7em;
  margin: 3px;
  background-color: #151515;
  border: 2px solid #151515;
  color: white;
}

.contentBtn-White{
  font-size: 0.7em;
  margin: 3px;
  background-color: white;
  border: 2px solid #151515;
  color: #151515;
}

.contentVideo{
  margin: 10px;
  margin-top: 0px;
}

h2{
  font-size: 2.5em;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0px;
}

.contentP{
  margin: 0px;
}

.contentP-Btn-Black{
  font-size: 2em;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-content:flex-start;
  margin-top: 0px;
}

.contentP-Btn-White{
  font-size: 2em;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-content:flex-start;
  margin-top: 0px;
}


.contentP-Btn-Programme{
  font-size: 2em;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-content:flex-start;
  margin-bottom: 0px;
}

.contentP-Btn-Contri{
  font-size: 2em;
  margin: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  align-content:flex-start;
}

.navSec{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
.navP{
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: #151515;
  color: white;
  margin: 0px;
}

.navP-Btn{
  margin: 0px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.navBtn{
  font-size: 0.7em;
  background-color: white;
  border: 2px solid black;
  margin: 3px;
}

.titleP{
  width: 40px;
  display: flex;
  justify-content: center;
}

.titleSec{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.titelBtnActive{
  font-size: 0.7em;
  display: compact;
  border: 2px solid white;
  background-color: white;
  color: #151515;
}

.titelBtnUnActive{
  font-size: 0.7em;
  display: compact;
  border: 2px solid white;
  background-color: #151515;
  color: white;
}